<div class="row">
    <div class="col-md-2" *ngFor="let entrada of entradas">
        <div class="card text-center">
            <div class="card-header d-flex justify-content-between align-items-center">
                No. {{entrada.identradas}} - Nit: {{entrada.nit}}
                <button class="btn btn-danger" >
                    <i class="far fa-trash-alt" (click)="deleteEntrada(entrada.identradas)"></i>
                </button>
            </div>
            <div class="card-body">
                <p>Nombre: {{entrada.nombre}}</p>
                <p>Direccion: {{entrada.direccion}}</p>
                <a [routerLink]="['/entradas/edit', entrada.identradas]" class="bt btn-info btn-block" (click)="editEntrada(entrada.identradas)">Editar</a>
            </div>
        </div>
    
    </div>
    </div>
    